################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/jquery-playground/bin
/jquery-playground/obj
/jquery-playground//jquery-playground/bin.csproj.user
/packages
