################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FR_05/bin
/FR_05/FR_05.csproj.user
/packages
